.DS_Store
.bundle
.history
.jekyll-metadata
.rvmrc
.sass-cache
*.sw[op]
# These files in _data are generated
_data/*ip_range.yml
_data/trusty*language*mapping*
_data/node_js_versions.yml
_data/language-details/*-versions.yml
assets/javascripts/tablefilter
_site
node_modules
source/tmp/*
tmp/
api/
