language: ruby
sudo: required
dist: trusty
rvm: 2.3.1
python:
  - "3.5"
branches:
  only:
  - gh-pages
  - sw-coala-ci-take-2
cache: bundler
deploy:
  provider: heroku
  api_key:
    secure: fkfayYzRdc0uh9iZeQKzC5/J3cKhVnyrkLRYSJmhixWtBHt87g7yzR1kGgsOce7OjqZ42bRn5W/gxyaDIUa+UMrt7RgURPASLy3rpm5wkk3iK2csvJaCixKcodI8UTXn7kRjYkrpQYcfvO1/25AnKBQKveobxSSAN3BQ3hERe5E=
  app: docs-travis-ci-com
  on:
    branch: gh-pages
notifications:
  slack:
    secure: LPNgf0Ra6Vu6I7XuK7tcnyFWJg+becx1RfAR35feWK81sru8TyuldQIt7uAKMA8tqFTP8j1Af7iz7UDokbCCfDNCX1GxdAWgXs+UKpwhO89nsidHAsCkW2lWSEM0E3xtOJDyNFoauiHxBKGKUsApJTnf39H+EW9tWrqN5W2sZg8=
    on_success: never
install:
  - bundle install
  - sudo pip install --upgrade pip
  - sudo pip install coala-bears
  - npm install remark-cli@2
script:
  - rake test
  - coala-ci
