body {
  background-color: #fffffff;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size   : 15px;
  margin      : 0px;
  padding     : 0px;
}

a {
  color           : #337389;
  outline         : none;
  text-decoration : underline;
}

a:visited {
  color : #337389;

}

a:hover {
  color           : #a53230;
  text-decoration : none;
}

div article a {
  color           : #337389;
  outline         : none;
  text-decoration : underline;
}

div article a:visited {
  color : #337389;

}

div article a:hover {
  color           : #a53230;
  text-decoration : none;
}

div article li {
  color : #A53F3F;
}

#main {
  width  : 850px;
  margin : 50px auto 0px auto;
}

p.meta {
  font-size   : 14px;
  width       : 500px;
  margin      : 0px auto;
  text-align  : center;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 600;
  color       : #aaa;
}

p.meta img {
  border-radius  : 20px;
  width          : 40px;
  height         : 40px;
  vertical-align : baseline;
  position       : relative;
  top            : 15px;
  margin-right   : 10px;
}

div.article-header p.meta a {
  color           : #aaa;
  text-decoration : underline;
}

div.article-header {
  padding-top    : 10px;
  padding-bottom : 30px;
  width          : 850px;
}

div.article-header h3 {
  font-size   : 36px;
  text-align  : center;
  color       : #607a84;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 800;
}

article a {
  text-decoration: underline;
  color : #40454f;
}

div.article-list article {
  margin-bottom : 80px;
}

div.article-list .article-header h3 {
  margin-top : 10px;
}

div.article-list .article-header:first-child h3 {
  margin-top : 40px;
}

div.article-header a {
  text-decoration : none;
  color           : #607a84;
}

h2 {
  color: #939386;
}

input[type=email] {
  background-color      : #f2f2f2;
  font-size             : 14px; 
  display               : inline-block;
  width                 : 350px;
  padding               : 13px 11px;
  margin-right          : 6px;
  border                : none 0px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}

::-webkit-input-placeholder {
 text-transform : uppercase;
 color          : #819699;
}  
::-moz-placeholder { /* Firefox 18- */
  text-transform : uppercase;
  color          : #819699;  
}
::-moz-placeholder {  /* Firefox 19+ */
 text-transform : uppercase;
 color          : #819699;  
}
::-ms-input-placeholder {  
 text-transform : uppercase;
 color          : #819699;  
}

.button,
.button:active,
.button.active {
  position              : relative;
  overflow              : visible;
  display               : inline-block;
  padding               : 13px 14px;
  border                : 0;
  margin                : 0;
  -webkit-border-radius : 4px;
  -moz-border-radius    : 4px;
  -ms-border-radius     : 4px;
  -o-border-radius      : 4px;
  border-radius         : 4px;
  background-color      : #bdc7c9;
  cursor                : pointer;
  outline               : none;
  text-decoration       : none;
  text-transform        : uppercase;
  text-align            : center;
  font-size             : 14px;
  color                 : #FFFFFF;
  white-space           : nowrap;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
  background-color : #959a9b;
  text-decoration  : none;
  color            : white;
}

#mc_newsletter_signup {
  text-align: center;
  width  : 600px;
  margin : 100px auto;
}

h3 {
  margin-bottom : 5px;
}

article {
  font-family : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size   : 16px;
  line-height : 24px;
  width       : 600px;
  margin      : 0px auto;
  color       : #595959;
}

article h3, article h2 {
  font-size     : 1.2em;
  line-height   : 1.1em;
  color         : #939386;
  margin-bottom : 5px;
  padding       : 0px;
}

article > p > img {
  margin    : 0px auto;
  max-width : 100%;
}

div#blog {
  margin : 0px auto;
}

pre {
  background-color : #fafbfb;
  border           : 1px solid #e8e9ea;
  padding          : 10px 20px; 
  border-radius    : 5px;
}

code {
  color     : #337389;
  font-size : 14px;
}

figure.right {
  float : right;
}

#main figure {
  clear         : both !important;
  width         : 578px;
  border        : 1px solid #efefef;
  text-align    : center;
  margin        : 0px;
  border-radius : 4px;
  background    : white;
}

#main figure figcaption {
  background-color : #efefef;
  text-align       : left;
  font-family      : 'Source Sans Pro', sans-serif;
  font-size        : 70%;
  line-height      : 120%;
  padding          : 5px 10px;
}

#main figure img {
  max-width : 570px;
  margin    : 4px;
}

#main figure.left {
  margin-bottom : 1.4286em;
  margin-right  : 1.4286em;
  float         : left;
}

#main figure.right {
  margin-bottom : 1.4286em;
  margin-left   : 1.4286em;
  float         : right;
}

#main figure.smallest {
  width : 138px;
}

#main figure.smallest img {
  width : 130px;
}

#main figure.smaller {
  width : 208px;
}

#main figure.smaller img {
  width : 200px;
}

#main figure.small {
  width : 258px;
}

#main figure.small img {
  max-width : 250px;
}

#disqus_thread {
  width  : 600px;
  margin : 50px auto 0px auto;
}

#top {
  position         : absolute;
  width            : 100%;
  top              : 0px;
  background-color : #40454f;
  color            : white;
  margin           : 0px;
  font-family      : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size        : 13px;
  height           : 42px;
}

.wrapper {
  width      : 909px;
  padding    : 0 14px 0 14px;
  margin     : 0 auto;
  text-align : left;
  overflow   : hidden;
  position   : relative;
}

.logo-home img {
  max-width      : 72px;
  display        : inline-block;
  float          : left;
  padding-right  : 14px;
  vertical-align : middle;
}

div#navigation {
  clear         : both;
  margin        : 0 0 0 0;
  padding       : 12px 0 6px 0;
  overflow      : hidden;
  background    : #40454f;
  color         : #2f333a;
  border-bottom : 0;
}

div#navigation .wrapper {
  width : 909px;
}

div#navigation .wrapper a#logo {
  color           : #fff;
  display         : block;
  float           : left;
  font-weight     : 800;
  font-size       : 1.1em;
  line-height     : 1.2em;
  margin          : 0em 1em 0 0;
  padding         : 0 1em 0 0;
  text-decoration : none;
}

div#navigation .wrapper a#logo span {
  color : #bbbaba;
}

div#navigation ul {
  margin  : 0;
  padding : 0;
}

div#navigation ul li {
  margin      : 0;
  font-size   : 14px;
  color       : #ffffff;
  padding     : 0;
  float       : left;
  line-height : 2.7em;
}

div#navigation ul li.right {
  float       : right;
  border-left : none;
}

div#navigation ul li a,
div#navigation ul li a:visited {
  color           : #efeaea;
  display         :block;
  padding         : 0em 1em 0 1em ;
  text-decoration : none;
}

div#navigation ul li a:hover,
div#navigation ul li a:visited {
  text-decoration : underline;
}

div#navigation ul li.selected a,
div#navigation ul li.selected a:visited {
  text-decoration : none;
  color           : #efeaea;
}

div#navigation ul li.active a,
div#navigation ul li.selected a:visited {
  text-decoration : none;
  color           : #efeaea;
}

footer {
  background : #ebeae8;
  padding    : 28px 0 32px 0;
}

footer p {
  color : #a53230;
  line-height : 21px;
}

#travis-logo {
  float   : left;
  margin  : 0 20px 0 0;
  display : inline-block;
}

#travis-address {
  clear       : all;
  display     : inline-block;
  margin-top: 6px; 
}

.left {
  float   : left;
  display : inline-block;
  padding : 0;
}

.right {
  float   : right;
  display : inline-block;
  padding : 0;
}

footer ul li {
  display     : inline;
  margin-left : 25px;
}

footer ul.left {
  list-style-type : none;
  display         : inline-block;
  padding         : 17px 0 0 10px;
}

footer a {
  color           : #4d4d4d;
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size       : 15px;
  text-decoration : none;
}

footer a:visited {
  color           : #4d4d4d;
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size       : 15px;
  text-decoration : none;
}

img.circular-radius {
  border-radius: 100px;
}

.large-6 {
  position : relative;
  float    : left;
  padding  : 0;
  width    : 50%;
  display  : inline-block;
  clear    : all;
}

.column,
.columns {
  position      : relative;
}

#berlin-sticker {
  margin  : 0 0 0 0;
  float   : right;
  display : block; 
}

#footer-nav {
  float   : none;
  clear   : all;
  display : block;
}

footer img#travis-mascot {
  display    : inline-block;
  max-height : 80px;
}

footer img#made-in-berlin {
  float      : right;
  display    : inline-block;
  max-height : 80px;
}

div footer .wrapper {
  background : transparent;
  width      : 950px;
  margin     : 2px 0 20px 0;
}


.pagination {
  margin     : 0px auto;
  margin-top : 30px;
  height     : 20px;
}

.pagination .right {
  float : right;
}

.pagination .left {
  float : left;
}

.pagination a {
  color : #337389;
}

hr {
  border-color     : #ccc;
  margin-top       : 20px;
  margin-bottom    : 20px;
  border           : none;
  height           : 1px;
  background-color : #ccc;
}
