body {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px;
}

#main {
  width: 850px;
  margin: 50px auto 0px auto;
}

p.meta {
  font-size: 12px;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  font-family: "Merriweather Sans", "Helvetica Neue", Arial, sans-serif;
  color: #aaa;
}

p.meta img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  vertical-align: baseline;
  position: relative;
  top: 15px;
  margin-right: 10px;
}

div.article-header p.meta a {
  color: #aaa;
  text-decoration: underline;
}

div.article-header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 850px;
}

div.article-header h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  color: #40454f;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

article a {
  text-decoration: underline;
  color: #40454f;
}

div.article-list article {
  margin-bottom: 80px;
}

div.article-list .article-header h3 {
  margin-top: 10px;
}

div.article-list .article-header:first-child h3 {
  margin-top: 40px;
}

div.article-header a {
  text-decoration: none;
  color: #40454f;
}

h3 {
  margin-bottom: 5px;
}

article {
  font-family: Georgia;
  font-size: 16px;
  line-height: 24px;
  width: 600px;
  margin: 0px auto;
  color: #40454f;
}

article h3, article h2 {
  padding: 0px;
  font-weight: normal;
  font-size: 20px;
}

article > p > img {
  margin: 0px auto;
  max-width: 100%;
}

div#blog {
  margin: 0px auto;
}

pre {
  background-color: white;
  border: 1px solid #bbb;
  padding: 10px 20px; 
  border-radius: 5px;
}

code {
  font-size: 14px;
}

figure.right {
  float: right;
}

#main figure {
  clear: both !important;
  width: 578px;
  border: 1px solid #efefef;
  text-align: center;
  margin: 0px;
  border-radius: 4px;
  background: white;
}

#main figure figcaption {
  background-color: #efefef;
  text-align: left;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 70%;
  line-height: 120%;
  padding: 5px 10px;
}

#main figure img {
  max-width: 570px;
  margin: 4px;
}

#main figure.left {
  margin-bottom: 1.4286em;
  margin-right: 1.4286em;
  float: left;
}

#main figure.right {
  margin-bottom: 1.4286em;
  margin-left: 1.4286em;
  float: right;
}

#main figure.smallest {
  width: 138px;
}

#main figure.smallest img {
  width: 130px;
}

#main figure.smaller {
  width: 208px;
}

#main figure.smaller img {
  width: 200px;
}

#main figure.small {
  width: 258px;
}

#main figure.small img {
  max-width: 250px;
}

#disqus_thread {
  width: 600px;
  margin: 50px auto 0px auto;
}

#top {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: #40454f;
  color: white;
  margin: 0px;
  font-family: "Merriweather Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  height: 42px;
}

#top #navigation {
  padding: 0px;
  width: 850px;
  height: 40px;
  margin: 0px auto 0px auto;
}

#top #navigation li {
  display: inline;
  height: 40px;
  padding-top: 13px;
}

#top #navigation li.left {
  float: left;
  margin-right: 30px;
}

#top #navigation li.right {
  float: right;
  margin-left: 30px;
}

#top #navigation li.image {
  padding-top: 5px;
}

#top a {
  text-decoration: none;
  color: #ccc;
}

#top a:hover {
  color: #eee;
}

#footer {
  font-family: "Merriweather Sans", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  margin: 20px auto 0px auto;
  text-align: center;
  height: 150px;
  padding: 0;
}

#footer img {
  width: 150px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

#footer img:hover {
  filter: none;
  -webkit-filter: none;
}

#footer-contents {
  text-align: left;
  width: 850px;
  margin: 0px auto;
  vertical-align: top;
}

#footer #made-in-berlin {
  float: right;
  height: 95px;
  width: 110px;
}

#footer #travis-logo {
  float: left;
  width: 80px;
  margin-top: 10px;
  height: 80px;
}

#footer ul {
  font-size: 12px;
  margin-top: 40px;
  padding: 0px;
}

#footer ul.left {
  list-style-type: none;
  float: left;
}

#footer ul li {
  height: 18px;
  display: inline;
  margin-left: 20px;
}

#footer ul.left li {
  margin-left: 0px;
}

#footer ul.right {
  float: right;
}

#footer a {
  color: rgb(64, 69, 79);
  text-decoration: underline;
}

#footer-inner {
  margin-left: 60px;
  width: 550px;
  height: 100px;
  float: left;
  vertical-align: top;
}

.pagination {
  margin: 0px auto;
  margin-top: 30px;
  height: 20px;
}

.pagination .right {
  float: right;
}

.pagination .left {
  float: left;
}

.pagination a {
  color: #40454f;
}

hr {
  border-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #ccc;
}
