body,html {
  height      : 100%;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size   : 15px;
  color       : #ffffff;
  line-height : 1.2em;
}

header {
  background    : #40454F;
  padding-top   : 0.75em;
  margin-bottom : 50px;
}

header p {
  font-family : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size   : 14px;
  color       : #ffffff;
  margin      : 0 0 0 1em;
  line-height : 0;
  display     : inline-block;
}

.logo-home {
  float       : left;
  line-height : 22px; 
}

header a {
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 600;
  font-size       : 14px;
  color           : #ffffff;
  margin          : 0 0 0 1em;
  line-height     : 0;
  display         : inline-block;
  text-decoration : none; 
}

header a:hover {
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 600;
  font-size       : 14px;
  color           : #ADC7D0;
  margin          : 0 0 0 1em;
  line-height     : 0;
  display         : inline-block;
  text-decoration : none; 
}

nav {
  display     : block;
  padding-top : 2px;
  float       : right;
}

ul {
  list-style-type : none;
}

li {
  display : inline;
}

li a {
  font-size   : 14px;
  line-height : 0;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 600;
  color       : #ffffff;
  margin-left : 1em;
}

li a:hover {
  color : #ADC7D0;
}

h3 {
  font-size   : 38px;
  line-height : 1.2em;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 800;
  color       : #337389;
}

h2 {
  font-size   : 20px;
  line-height : 1.2em;
  font-family : 'Source Sans Pro', sans-serif; font-weight: 600;
  color       : #9dbebc;
}

button {
  background-color : #a53230;
  
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
  
  display         : inline-block;
  color           : #ffffff;
  border-width    : 0px;
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 600;
  font-size       : 16px;
  padding         : 12px 31px;
  margin          : 20px 0 50px 0;
  text-decoration : none;        
}

button:hover {
  background-color : #d93f3c;
}

button:active {
  position : relative;
}

footer {
  padding : 28px 0 28px 0;
}

footer p {
  color : #a53230;
}

footer p.left {
  display : inline-block;
  padding : 0 0 0 10px;
}

footer ul li {
  display     : inline;
  margin-left : 3px;
}

footer ul.right {
  list-style-type : none;
  display         : inline-block;
  padding         : 24px 0 0 10px;
}

footer a {
  color           : #4d4d4d;
  font-family     : 'Source Sans Pro', sans-serif; font-weight: 400;
  font-size       : 15px;
  text-decoration : none;
}

footer img {
  max-height: 80px;
}

.mobile-break {
  display : none;
}

.mobile-desktop {
  display : none;
}

@media only screen and (max-width : 768px) {
 
  header {
    float : none;
  }

  header img {
    float : none; 
  }

  nav {
    text-align : center;
    float      : none;
  }

  footer {
    text-align : center;
  }

  footer p.left {
    margin-top : 20px;
    width      : 100%;
  }

  footer ul.right {
    width : 100%;
  }
}

@media only screen and (max-width : 480px) {

  ul {
    text-align : center;
  }

  .mobile-break {
    display : inline;
  }
}