<div id="sidebar" class="sidebar">
  <section class="sidebar-navigation">
    <nav>
      <h3>Travis CI Enterprise</h3>
      <ul>
        <li><a href="/user/enterprise/">About Travis CI Enterprise</a></li>
        <li><a href="/user/enterprise/tcie-3.x-overview/">Enterprise 3.x Overview</a></li>
        <li><a href="/user/enterprise/tcie-3.x-setting-up-travis-ci-enterprise/">Setting up Travis CI Enterprise 3.x</a> </li>
        <li><a href="/user/enterprise/setting-up-worker/">Setting up Worker</a> </li>
        <li><a href="/user/enterprise/tcie-3.x-upgrading/">Upgrading Travis CI Enterprise 3.x</a></li>
        <li><a href="/user/enterprise/tcie-3.x-obtain-license/">Obtaining 3.x License</a></li>
      </ul>

      <h3>Environment reference</h3>
      <ul>
        <li><a href="/user/enterprise/focal">Focal Build Environment</a></li>
        <li><a href="/user/enterprise/bionic">Bionic Build Environment</a></li>
        <li><a href="/user/enterprise/xenial/">Xenial Build Environment</a></li>
        <li><a href="/user/enterprise/trusty/">Trusty Build Environment (Deprecated)</a></li>
        <li><a href="/user/enterprise/precise/">Precise Build Environment (Deprecated)</a></li>
      </ul>

      <h3>Customizing Travis CI Enterprise</h3>
      <ul>
        <li><a href="/user/enterprise/worker-configuration/">Worker Configuration</a></li>
        <li><a href="/user/enterprise/build-images/">Customizing Build Images</a></li>
        <li><a href="/user/enterprise/high-availability/">High Availability</a></li>
        <li><a href="/user/enterprise/custom-queues/">Custom Queues</a></li>
      </ul>

      <h3>Enterprise Operations Manual</h3>
      <ul>
        <li><a href="/user/enterprise/platform-tips/">Platform Administration Tips</a></li>
        <li><a href="/user/enterprise/worker-cli-commands/">Worker Start & Debug Containers</a></li>
        <li><a href="/user/enterprise/ssl-certificate-management/">SSL Certificate Management</a></li>
        <li><a href="/user/enterprise/troubleshooting-guide/">Troubleshooting Guide</a></li>
        <li><a href="/user/enterprise/user-management/">User Management</a></li>
        <li><a href="/user/enterprise/user-role-management/">User Role Management</a></li>
        <li><a href="/user/enterprise/support-admin-tool/">Support Admin Tool</a></li>
        <li><a href="/user/enterprise/Multi-CPU-Builds/">Multi CPU builds</a></li>
        <li><a href="/user/enterprise/workspaces-eom/">Workspaces & Cache</a></li>
      </ul>

      <h3>Enterprise 2.x Archive</h3>
      <ul>
        <li><a href="/user/enterprise/setting-up-travis-ci-enterprise/">Setting up Travis CI Enterprise 2.x</a> </li>
        <li><a href="/user/enterprise/upgrading/">Upgrading Travis CI Enterprise 2.x</a></li>
        <li><a href="/user/enterprise/tcie-3.x-migrating-db-from-2.x-to-3.x/">Migrating Database from 2.2.6+ to 3.x</a></li>
        <li><a href="/user/enterprise/operations-manual-tcie-2.x/">Operations Manual for 2.x</a></li>
        <li><a href="/user/enterprise/high-availability-tcie-2.x/">High Availability for 2.x</a></li>
        <li><a href="/user/enterprise/platform-tips-tcie-2.x/">Platform Administration Tips for 2.x</a></li>
      </ul>
      
      <h3>Travis CI Docs</h3>
      <ul>
        <li><a href="/">Travis CI Docs</a></li>
      </ul>
    </nav>
  </section>

  <section class="sidebar-notice">
    <p>This documentation site is open source.
      The <a href="https://github.com/travis-ci/docs-travis-ci-com">README in our Git repository</a> explains how to contribute.</p>
    <p>Travis CI relies on Open Source <a href="/user/open_source_license/">licensing information</a>.</p>
  </section>

</div><!-- /#sidebar -->
