<footer class="footer">
  <div class="inner row">
    <div class="footer-elem">
      <div class="travis-footer">
        <img alt="The Travis CI logo" src="/images/ui/footer-logo.svg"></div>
    </div>

    <div class="footer-elem">
      <h3 class="footer-title">&copy;Travis CI, GmbH</h3>
      <address>Rigaer Straße 8<br>10247 Berlin, Germany</address>
      <ul>
        <li><a href="https://docs.travis-ci.com/imprint.html" title="Imprint">Imprint</a></li>
        <li><a href="https://travisci.workable.com/" title="Jobs at Travis CI">Jobs</a></li>
      </ul>
    </div>

    <div class="footer-elem">
      <h3 class="footer-title">Help</h3>
      <ul>
        <li><a href="https://docs.travis-ci.com" title="Travis CI Docs">Documentation</a></li>
        <li><a href="https://blog.travis-ci.com/" title="Travis CI Blog">Blog</a></li>
        <li><a href="mailto:support@travis-ci.com" title="Email Travis CI support">Email</a></li>
        <li><a href="https://twitter.com/travisci" title="Travis CI on Twitter">Twitter</a></li>
      </ul>
    </div>

    <div class="footer-elem">
      <h3 class="footer-title">Travis CI Status</h3>
      <ul>
        <li><div class="status-circle status">Status:</div>
          <a href="http://www.traviscistatus.com/">Travis CI Status</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
