<footer>
  <div class="row">
    <div class="small-6 medium-6 large-6 columns">
      <img alt="The Travis CI logo" src="/images/ui/footer-logo.svg">
    </div>
    <div class="small-6 medium-2 large-2 columns">
      <h3>&copy;Travis CI, GmbH</h3>
      <p>Rigaer Straße 8<br>10247 Berlin, Germany</p>
    </div>

    <div class="small-6 medium-2 large-2 columns">
      <h3>Help</h3>
      <ul>
        <li><a href="http://docs.travis-ci.com/">Documentation</a></li>
        <li><a href="http://blog.travis-ci.com/">Blog</a></li>
        <li><a href="mailto:support@travis-ci.com">Email</a></li>
        <li><a href="https://twitter.com/travisci">Twitter</a></li>
      </ul>
    </div>
    <div class="small-6 medium-2 large-2 columns">
      <h3>Travis CI Status</h3>
      <ul>
        <li><div class="status-circle status">Status:</div>
          <a href="http://www.traviscistatus.com/">Travis CI Status</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
