---
title: Home
kind: page
---

<p>Travis is an attempt to create an open-source, distributed build system for the Ruby community.</p>

<% sorted_articles.each do |article| %>
  <h2><a href="<%= article.identifier %>"><%= article[:title] %></a></h2>
<% end %>
