---
layout: blog
---
<div class="article-list">
  {% for post in paginator.posts %}
    <div class="article-header">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="meta">
        {% if site.gravatars %}
          {% for gravatar_pair in site.gravatars %}
            {% for gravatar in gravatar_pair %}
              {% if gravatar[0] == post.twitter %}
                <img src="https://secure.gravatar.com/avatar/{{ gravatar[1] }}" alt="{{ post.author }}'s Gravatar"/>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}
        {% if post.twitter %}
          <a href='http://twitter.com/{{ post.twitter }}'>{{ post.author }}</a>,
        {% else %}
          {{ post.author }},
        {% endif %}
        <time datetime="{{ post.created_at | date: "%Y-%m-%dT%H:%M:%S%z"  }}">{{ post.created_at | date: "%e %b %Y" }}</time>
      </p>
    </div>

    <article>
      {{ post.content }}
    </article>

    {% if forloop.last %}
    {% else %}
    <hr/>
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <div class="left">
      <a href="/blog/page-{{ paginator.next_page }}" class="next">Older</a>
    </div>
  {% endif %}
  {% if paginator.previous_page %}
    <div class="right">
      {% if paginator.previous_page == 1 %}
        <a href="/blog/" class="previous">Newer</a>
      {% else %}
        <a href="/blog/page-{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
    </div>
  {% endif %}
</div>
