---
title: The Travis CI Blog
layout: blog
---
{% for post in paginator.posts %}
  <div class="article-header">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<!--    <p class="meta">
      {% if post.twitter %}
        <a href="http://twitter.com/{{ post.twitter }}">{{ post.author }}</a>,
      {% else %}
        {{ post.author }},
      {% endif %}
      <time datetime="{{ post.created_at | date: "%Y-%m-%dT%H:%M:%S%z"  }}">{{ post.created_at | date: "%B %-d, %Y" }}</time>
    </p>
    -->
  </div>

  <article>
    {{ post.content }}
  </article>

{% endfor %}

<hr/>

<div class="pagination">
  {% if paginator.next_page %}
    <div class="left">
      <a href="/blog/page-{{ paginator.next_page }}" class="next">Older</a>
    </div>
  {% endif %}
  {% if paginator.previous_page %}
    <div class="right">
      <a href="/blog/page-{{ paginator.previous_page }}" class="previous">Newer</a>
    </div>
  {% endif %}
</div>
