a
  color: $grey-darker
  text-decoration: underline
  &:hover
    color: $teal-dark

p
  font-size: $font-size-sm
  color: $grey-dark
  line-height: 1.5em
  @include linkStyle

%code-styles
  font-family: monaco, monospace
  font-size: $font-size-xs
  color: #000
  font-style: normal
  background: $pebble-grey

address
  font-style: normal

code
  @extend %code-styles
  display: inline-block
  padding: 0em 0.4em
  line-height: 1.7

pre
  @extend %code-styles
  border-radius: 3px
  margin-top: 1em
  padding: 1em 1.5em
  line-height: 1.5em
  overflow-x: scroll

  code
    border: none

blockquote
  margin-left: 0
  margin-right: 0
  padding: .4em 1em
  font-size: $font-size-m
  border-radius: 4px
  font-style: italic
  background-color: rgba($agate-blue, 0.3)
  color: $asphalt-grey
  overflow: auto
  strong
    text-transform: uppercase
    font-style: normal
  code
    color: $oxide-blue
    border-color: $oxide-blue
    background-color: transparent

ol
  padding: 0 0 0 1.3em
  ol, ul
    margin: 1em 0
  ol
    list-style: lower-roman
  li
    margin-bottom: 0.8em

ul
  padding: 0 0 0 1.3em

li ul
  padding-left: 2.5em

li > p
  display: inline

table
  width: 100%

  td, th
    padding: 0.8em 0.6em 0.5em

  tr
    border-bottom: 1px solid $cream-dark

.header-row
  thead
    background-color: $cream-light
    color: $grey-dark
    border-bottom: 1px solid $cream-dark
  th
    text-transform: uppercase
    font-weight: 400

.header-column
  tbody
    tr
      td:first-child
        background-color: $cream-light
        color: $grey-dark
        border-right: 1px $cream-dark solid

.warning
  color: $grey-light
  background-color: $red-light
