.row
  max-width: 1200px

.wrapper.is-fixed
  height: 95vh
  overflow: hidden

.main
  position: relative
  font-size: $font-size-sm
  padding: 0 $column-gutter/2
  margin-bottom: 5em

  @media #{$large-up}
    @include grid-column(9)
    padding: 0 $column-gutter/2 0 3rem

  h1
    @extend %grey-heading
    margin: 1.2em 0 1em
  h2
    @extend %green-hading
  h3
    @extend %blue-heading

.improve-page
  position: relative
  top: .5em
  text-align: right
  @media #{$medium-up}
    position: absolute
    right: 1em

[data-file]
  position: relative
  padding-top: 1.9em
  &:before
    content: attr(data-file)
    position: absolute
    top: 1.1em
    left: 0
    z-index: 5
    background: $cement-grey
    width: auto
    color: $pebble-grey
    padding-left: 1em
    padding-right: 1em
    font-size: 14px
    border-top-left-radius: 2px
    border-top-right-radius: 2px

//overwrite prism plugin style
pre.code-toolbar > .toolbar
  opacity: 1

.swiftype-widget
  .autocomplete
    ul
      li
        border-color: $cream-dark
        box-shadow: none
        p.title
          color: $teal-dark
          font-weight: 400
          font-size: $font-size-s
          line-height: 18px
          margin-bottom: .2em
          em
            font-weight: 600
            color: $teal-dark
        p.sections
          color: $grey-dark
          font-weight: 300
          font-size: $font-size-xs
          line-height: 15px
          em
            font-weight: 600
            color: $grey-dark
        &.active
          background: $cream-dark
          border-color: $cream-dark
          box-shadow: none
          p.title
            color: $teal-dark
            text-shadow: none
            em
              font-weight: 600
              color: $teal-dark
          p.sections
            color: $grey-dark
            text-shadow: none
            em
              font-weight: 600
              color: $grey-dark
