
$line-height: 22px
$line-height-log: 19px

$font-size-xs: 12px
$font-size-s: 14px
$font-size-sm: 15px
$font-size-m: 18px
$font-size-ml: 22px
$font-size-l: 36px


$turf-green: #39aa56
$seed-green: #deecdc

$canary-yellow: #edde3f
$dozer-yellow: #cdb62c
$haze-yellow: #faf6db

$cement-grey: #9d9d9d
$asphalt-grey: #666666
$pebble-grey: #f1f1f1

$brick-red: #db4545
$quartz-red: #fce8e2

$oxide-blue: #3eaaaf
$agate-blue: #b6d6d9

$cream-light: #FAFAF8
$cream-dark: #EFF0EC

$cream-light: $pebble-grey
$cream-dark: $pebble-grey
$grey-light: $pebble-grey
$grey-medium: $cement-grey
$grey-dark: $asphalt-grey
$grey-darker: $asphalt-grey
$teal-light: $oxide-blue
$teal-dark: $oxide-blue
$green-light: $seed-green
$green-dark: $turf-green
$red-light: $quartz-red
$red-dark: $brick-red
$yellow-light: $haze-yellow
$yellow-dark: $dozer-yellow


$blue-grey: #8f9ba2


$color-text: $grey-dark
$top-height: 55px
$footer-height: 210px
$footer-bg: #e0e0e0
$color-link: $grey-dark
