<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
      <title>The Travis CI Blog: {{ page.title }}</title>
    {% else %}
      <title>The Travis CI Blog</title>
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/blog.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/blog-mobile.css" media="handheld, only screen and (max-device-width: 960px)">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/blog.js" type="text/javascript" charset="utf-8"></script>
    <link rel="alternate" type="application/atom+xml" href="/blog.xml">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24868285-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="top">
      <ul id="navigation">
        <li class="left image"><img src="/images/travis-logo-small.png"/></li>
        <li class="left"><a href="/blog">Blog</a></li>
        <li class="left"><a href="https://twitter.com/travisci">Twitter</a></li>
        <li class="left"><a href="http://about.travis-ci.org/docs">Docs</a></li>
        <li class="right"><a href="https://travis-ci.org">Travis CI</a></li>
        <li class="right"><a href="http://travis-ci.com">Travis Pro</a></li>
      </ul>
    </div>

    <div id="main">
      <div id="blog">
        {{ content }}
      </div>
      <hr/>
    </div>

    <div id="footer">
      <div id="footer-contents">
        <img src="/images/travis-mascot-200px.png" id="travis-logo"/>
        <div id="footer-inner">
          <ul class="left">
            <li>&copy; 2010-2013 Travis CI</li>
          </ul>
          <ul class="right">
            <li><a href="/blog.xml">RSS</a></li>
            <li><a href="http://about.travis-ci.org">Docs</a></li>
            <li><a href="mailto:contact@travis-ci.com">Email</a></li>
            <li><a href="http://status.travis-ci.com">Status</a></li>
            <li><a href="/imprint.html">Imprint</a></li>
          </ul>
        </div>
        <img src="/images/made-in-berlin-badge.png" id="made-in-berlin"/>
      </div>
    </div>
  </body>
</html>
