<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travis CI: {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="Travis CI Build Environment Updates" href="http://docs.travis-ci.com/feed.build-env-updates.xml">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer></script>
    <script src="{{ site.baseurl }}/assets/javascripts/site.js" type="text/javascript" charset="utf-8" defer></script>
    <script src="{{ site.baseurl }}/assets/javascripts/main.js" type="text/javascript" charset="utf-8" defer></script>
    <link rel="alternate" type="application/atom+xml" href="/blog.xml">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24868285-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="wrapper">

      {% include header.html %}

      <div id="content" class="row">

        {% include sidebar.html %}

        <main id="main" class="main">
          {% unless page.no_header %}
            <h1 class="title">{{ page.title }}</h2>
          {% endunless %}
          {{ content }}
        </main>
      </div><!-- /#content -->

      {% include footer.html %}
    </div><!-- /.wrapper -->
  </body>
</html>

