<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travis CI: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/site.js" type="text/javascript" charset="utf-8"></script>
    <link rel="alternate" type="application/atom+xml" href="/blog.xml">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24868285-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="navigation">
      <div class="wrapper">
        <a href="http://travis-ci.org" id="logo">travis-ci<span>.org</span></a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/docs/">Documentation</a></li>
          <li class="english lang active"><a href="/" class="selected">English</a></li>
          <li class="french lang"><a href="/fr/">Français</a></li>
          <li class="spanish lang"><a href="/es/">Español</a></li>
          <li class="portuguese lang"><a href="/pt-BR/">Português</a></li>
        </ul>
      </div>
    </div>

    <div id="header">
      <div class="wrapper">
        <h1 class="riddle"><a href="/" title="Travis">Travis CI</a></h1>
        <p>A hosted continuous integration service for the open source community.</p>
      </div><!-- /.wrapper -->
    </div><!-- /#header -->

    <div id="content">
      <div class="wrapper">
        <div class="pad">
          <div id="main">
            <h2>{{ page.title }}</h2>
            {{ content }}
          </div><!-- /#main -->
          <div id="sidebar">
            <h2>Contact</h2>
            <ul>
              <li><a href="http://twitter.com/travisci">Twitter</a></li>
              <li><a href="irc://irc.freenode.net/%23travis">IRC</a></li>
              <li><a href="http://groups.google.com/group/travis-ci">Mailing list</a></li>
              <li><a href="http://github.com/travis-ci">GitHub</a></li>
              <li><a href="http://about.travis-ci.org/blog.xml">Blog Feed</a></li>
            </ul>
            <h2>Guides</h2>
            <ul>
              <li><a href="/docs/user/getting-started/">Getting started</a></li>
              <li><a href="/docs/user/build-configuration/">Build configuration</a></li>
              <li><a href="/docs/user/notifications/">Notifications</a></li>
              <li><a href="/docs/user/encryption-keys/">Encryption keys</a></li>
              <li><a href="/docs/user/travis-lint/">Validate your .travis.yml with travis-lint</a></li>
              <li><a href="/docs/user/database-setup/">Services & Database setup</a></li>
              <li><a href="/docs/user/gui-and-headless-browsers/">GUI & headless browsers testing</a></li>
              <li><a href="/docs/user/status-images/">Build Status images</a></li>
              <li><a href="/docs/user/ci-environment/">CI environment</a></li>
              <li><a href="/docs/user/osx-ci-environment/">OS X CI environment</a></li>
              <li><a href="/docs/user/addons/">Addons</a></li>
              <li><a href="/docs/user/travis-pro">Travis Pro</a></li>
            </ul>
            <h2>Language-specific Guides</h2>
            <ul>
              <li><a href="/docs/user/languages/c/">C</a></li>
              <li><a href="/docs/user/languages/cpp/">C++</a></li>
              <li><a href="/docs/user/languages/clojure/">Clojure</a></li>
              <li><a href="/docs/user/languages/erlang/">Erlang</a></li>
              <li><a href="/docs/user/languages/go/">Go</a></li>
              <li><a href="/docs/user/languages/groovy/">Groovy</a></li>
              <li><a href="/docs/user/languages/haskell/">Haskell</a></li>
              <li><a href="/docs/user/languages/java/">Java</a></li>
              <li><a href="/docs/user/languages/javascript-with-nodejs/">JavaScript (with Node.js)</a></li>
              <li><a href="/docs/user/languages/objective-c/">Objective-C</a></li>
              <li><a href="/docs/user/languages/perl/">Perl</a></li>
              <li><a href="/docs/user/languages/php/">PHP</a></li>
              <li><a href="/docs/user/languages/python/">Python</a></li>
              <li><a href="/docs/user/languages/ruby/">Ruby</a></li>
              <li><a href="/docs/user/languages/scala/">Scala</a></li>
            </ul>

            <h2>3rd Party Tools and Resources</h2>
            <ul>
              <li><a href="/docs/user/browser-extensions/">Browser Extensions</a></li>
              <li><a href="/docs/user/resources/">Links & Resources</a></li>
            </ul>

            <h2>How-Tos</h2>
            <ul>
              <li><a href="/docs/user/how-to-skip-a-build/">How to skip a build</a></li>
              <li><a href="/docs/user/how-to-setup-and-trigger-the-hook-manually/">How to setup GitHub Travis hook and trigger builds manually</a></li>
            </ul>
            <h2>Developer Guides</h2>
            <ul>
              <li><a href="http://api.travis-ci.org">The API</a></li>
              <li><a href="/docs/dev/api/">The API (deprecated)</a></li>
            </ul>
            <h2>Contributor Guides</h2>
            <ul>
              <li><a href="/docs/dev/overview/">Technical Overview</a></li>
              <li><a href="/docs/dev/worker/">The worker (v3)</a></li>
              <li><a href="/docs/dev/build_tasks/">Build Tasks</a></li>
              <li><a href="/docs/dev/maintenance/">Maintenance</a></li>
            </ul>
            <h2>Contributing</h2>
            <p>This documentation site is open source. Feel free to <a href="https://github.com/travis-ci/travis-ci.github.com/issues">file issues about it</a>.
              The README in our <a href="https://github.com/travis-ci/travis-ci.github.com">Git repository</a> explains how to contribute.</p>
          </div><!-- /#sidebar -->
        </div><!-- /.pad -->
      </div><!-- /.wrapper -->
    </div><!-- /#content -->

    <div id="footer">
      <div class="wrapper">
        <div class="box">
          <p>This site is maintained by the <a href="http://github.com/travis-ci">Travis CI community</a>. Feel free to <a href="http://github.com/travis-ci/travis-ci.github.com">contribute</a>!</p>
        </div>
        <div class="box">
          <p>This design was kindly provided by the talented Ben Webster of <a href="http://www.plus2.com.au">Plus2</a>.</p>
        </div>
        <div class="box last">
          <ul>
            <li><a href="https://github.com/travis-ci" title="">Travis CI on GitHub</a></li>
            <li><a href="https://twitter.com/travisci" title="">Travis CI on Twitter</a></li>
          </ul>
        </div><!-- /.box -->
      </div><!-- /.wrapper -->
    </div><!-- /#footer -->
  </body>
</html>
