<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Travis CI: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/atom+xml" href="/blog.xml">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24868285-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="navigation">
      <div class="wrapper">
        {% include logo.html %}
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/fr/docs/">Documentations</a></li>
          <li class="english lang"><a href="/">English</a></li>
          <li class="french lang active"><a href="/fr/">Français</a></li>
          <li class="spanish lang"><a href="/es/">Español</a></li>
          <li class="portuguese lang"><a href="/pt-BR/">Português</a></li>
          <li class="japanese lang"><a href="/ja/">日本語</a></li>
        </ul>
      </div>
    </div>

    <div id="header">
      <div class="wrapper">
        <h1 class="riddle"><a href="/" title="Travis">Travis CI</a></h1>
        <p>Un système open-source d'intégration continue pour la
        communauté open-source.</p>
      </div><!-- /.wrapper -->
    </div><!-- /#header -->

    <div id="content">
      <div class="wrapper">
        <div class="pad">
          <div id="main">
            <h2>{{ page.title }}</h2>
            {{ content }}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'travis-ci'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
               })();
             </script>
             <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
             <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          </div><!-- /#main -->
          <div id="sidebar">
            <h2>Contact</h2>
            <ul>
              <li><a href="http://twitter.com/travisci">Twitter</a></li>
              <li><a href="irc://chat.freenode.net/%23travis">IRC</a></li>
              <li><a href="http://groups.google.com/group/travis-ci">Liste de diffusion</a></li>
              <li><a href="http://github.com/travis-ci">GitHub</a></li>
            </ul>
            <h2>Documentation utilisateur</h2>
            <ul>
              <li><a href="/fr/docs/user/getting-started/">Démarrer</a></li>
              <li><a href="/fr/docs/user/build-configuration/">Configurer une build</a></li>
              <li><a href="/fr/docs/user/travis-lint/">Vérifier .travis.yml de votre projet</a></li>
              <li><a href="/fr/docs/user/database-setup/">Configurer une base de données et services de système d'exploitation</a></li>
              <li><a href="/docs/user/gui-and-headless-browsers/">GUI & headless browsers testing *</a></li>
              <li><a href="/fr/docs/user/status-images/">Images de statuts</a></li>
              <li><a href="/fr/docs/user/resources/">Ressources</a></li>
              <li><a href="/fr/docs/user/ci-environment/">L'environnement du CI</a></li>
              <li><a href="/docs/user/extensions/">Les extensions *</a></li>
              <li><a href="/fr/docs/user/how-to-skip-a-build/">Comment ne pas déclencher de build</a></li>
              <li><a href="/docs/user/travis-pro">Travis Pro</a></li>
            </ul>
            <h2>Langages</h2>
            <ul>
              <li><a href="/docs/user/languages/c/">C *</a></li>
              <li><a href="/docs/user/languages/cpp/">C++ *</a></li>
              <li><a href="/fr/docs/user/languages/clojure/">Clojure</a></li>
              <li><a href="/fr/docs/user/languages/erlang/">Erlang</a></li>
              <li><a href="/docs/user/languages/go/">Go *</a></li>
              <li><a href="/docs/user/languages/groovy/">Groovy *</a></li>
              <li><a href="/docs/user/languages/haskell/">Haskell *</a></li>
              <li><a href="/docs/user/languages/java/">Java *</a></li>
              <li><a href="/fr/docs/user/languages/javascript-with-nodejs">JavaScript (avec Node.js)</a></li>
              <li><a href="/docs/user/languages/perl/">Perl *</a></li>
              <li><a href="/fr/docs/user/languages/php/">PHP</a></li>
              <li><a href="/docs/user/languages/python/">Python *</a></li>
              <li><a href="/fr/docs/user/languages/ruby">Ruby</a></li>
              <li><a href="/docs/user/languages/scala/">Scala *</a></li>
            </ul>
            <h2>Documentation développeur</h2>
            <ul>
              <li><a href="/fr/docs/dev/worker/">Le worker</a></li>
              <li><a href="/fr/docs/dev/api/">L'API</a></li>
              <li><a href="/fr/docs/dev/build_tasks/">Build Tasks</a></li>
            </ul>
            <h2>Contribuer</h2>
            <p>Cette documentation est open source. N'hésitez pas à <a href="https://github.com/travis-ci/travis-ci.github.com/issues">ouvrir un ticket</a> la concernant.
Le fichier README de notre <a href="https://github.com/travis-ci/travis-ci.github.com">dépot Git</a> explique comment y contribuer</p>
          </div><!-- /#sidebar -->
        </div><!-- /.pad -->
      </div><!-- /.wrapper -->
    </div><!-- /#content -->

    <footer>
      <div class="wrapper">
        <div class="large-6 columns left">
          <div id="travis-logo">
            <img src="/images/travis-mascot-200px.png" id="travis-mascot">
          </div>
          <div id="travis-address">
            <p>&copy; 2014 Travis CI GmbH,<br> Prinzessinnenstr. 20, 10969 Berlin, Germany</p>
          </div>
        </div>

        <div class="large-6 columns right">
          <div id="footer-nav">
            <ul class="left">
              <li><a href="mailto:contact@travis-ci.com">Email</a></li>
              <li><a href="http://chat.travis-ci.com">Live Chat</a></li>
              <li><a href="/docs/">Docs</a></li>
              <li><a href="http://status.travis-ci.com">Status</a></li>
            </ul>
          </div>
          <div id="berlin-sticker">
            <img src="/images/made-in-berlin-badge.png" id="made-in-berlin">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
