---
layout: blog
---
<div class="article-header">
  <h3>{{ page.title }}</h3>
  <p class='meta'>
    {% if site.gravatars %}
      {% for gravatar_pair in site.gravatars %}
        {% for gravatar in gravatar_pair %}
          {% if gravatar[0] == page.twitter %}
            <img src="https://secure.gravatar.com/avatar/{{ gravatar[1] }}"/>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if page.twitter %}
      <a href='http://twitter.com/{{ page.twitter }}'>{{ page.author }}</a>,
    {% else %}
      {{ page.author }},
    {% endif %}
    <time datetime="{{ page.created_at | date: "%Y-%m-%dT%H:%M:%S%z"  }}">{{ page.created_at | date: "%e %b %Y" }}</time>
  </p>
</div>

<article>
  {{ content }}
</article>

<div id="mc_newsletter_signup">
  <h2>Sign up for our newsletter</h2>
  <form
     action="http://travis-ci.us7.list-manage.com/subscribe/post?u=8ce724a4c9af4dace663cd39c&amp;id=44f8dff14c"
     method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
     target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required/>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'travisci';
    var disqus_identifier = '{{ page.permalink }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
