<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travis CI: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,800' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/site.js" type="text/javascript" charset="utf-8"></script>
    <link rel="alternate" type="application/atom+xml" href="/blog.xml">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24868285-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="navigation">
      <div class="wrapper">
        {% include logo.html %}
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/pt-BR/docs/">Documentação</a></li>
          <li class="english lang"><a href="/">English</a></li>
          <li class="french lang"><a href="/fr/">Français</a></li>
          <li class="spanish lang"><a href="/es/">Español</a></li>
          <li class="portuguese lang active"><a href="/pt-BR/">Português</a></li>
          <li class="japanese lang"><a href="/ja/">日本語</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div class="wrapper">
        <div class="pad">
          <div id="main">
            <h2>{{ page.title }}</h2>
            {{ content }}
          </div><!-- /#main -->
          <div id="sidebar">
            <h2>Boletim de Notícias (Inglês)</h2>
            <div id="mc_embed_signup" style="margin-left: 1.5em; margin-top: 0.5em;">
              <form
                 action="http://travis-ci.us7.list-manage.com/subscribe/post?u=8ce724a4c9af4dace663cd39c&amp;id=44f8dff14c"
                 method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                 target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="endereço de email" required/>
                <input type="submit" value="Inscrever" name="subscribe" id="mc-embedded-subscribe" class="button">
              </form>
            </div>

            <h2><a href="http://travisci.com?utm_campaign=june2013&utm_source=about.travis-ci.org&utm_source=sidebar">Travis CI para Repositórios Privados</a></h2>
            <h2>Guias</h2>
            <ul>
              <li><a href="/pt-BR/docs/user/getting-started/">Guia de início</a></li>
              <li><a href="/pt-BR/docs/user/travis-lint/">Valide o seu .travis.yml</a></li>
              <li><a href="/pt-BR/docs/user/database-setup/">Configuração de banco de dados e serviços</a></li>
              <li><a href="/pt-BR/docs/user/gui-and-headless-browsers/">Testes de GUI & headless</a></li>
              <li><a href="/pt-BR/docs/user/how-to-skip-a-build/">Como pular um build</a></li>
              <li><a href="/pt-BR/docs/user/speeding-up-the-build/">Acelerando o build</a></li>
            </ul>

            <h2>Referência</h2>
            <ul>
              <li><a href="/pt-BR/docs/user/build-configuration/">Configuração de build</a></li>
              <li><a href="/pt-BR/docs/user/notifications/">Notificações</a></li>
              <li><a href="/pt-BR/docs/user/encryption-keys/">Chaves de Criptografia</a></li>
              <li><a href="/pt-BR/docs/user/status-images/">Imagens de Status de Build</a></li>
              <li><a href="/pt-BR/docs/user/ci-environment/">Ambiente de Integração Contínua</a></li>
              <li><a href="/pt-BR/docs/user/osx-ci-environment/">Ambiente de IC OS X</a></li>
              <li><a href="/pt-BR/docs/user/addons/">Addons</a></li>
              <li><a href="/pt-BR/docs/user/common-build-problems">Problemas Comuns de Build</a></li>
              <li><a href="/pt-BR/docs/user/travis-pro">Travis Pro</a></li>
            </ul>

            <h2>Guias para linguagens específicas</h2>
            <ul>
              <li><a href="/pt-BR/docs/user/languages/c/">C</a></li>
              <li><a href="/pt-BR/docs/user/languages/cpp/">C++</a></li>
              <li><a href="/pt-BR/docs/user/languages/clojure/">Clojure</a></li>
              <li><a href="/pt-BR/docs/user/languages/erlang/">Erlang</a></li>
              <li><a href="/pt-BR/docs/user/languages/go/">Go</a></li>
              <li><a href="/pt-BR/docs/user/languages/groovy/">Groovy</a></li>
              <li><a href="/pt-BR/docs/user/languages/haskell/">Haskell</a></li>
              <li><a href="/pt-BR/docs/user/languages/java/">Java</a></li>
              <li><a href="/pt-BR/docs/user/languages/javascript-with-nodejs/">JavaScript (com Node.js)</a></li>
              <li><a href="/pt-BR/docs/user/languages/objective-c/">Objective-C</a></li>
              <li><a href="/pt-BR/docs/user/languages/perl/">Perl</a></li>
              <li><a href="/pt-BR/docs/user/languages/php/">PHP</a></li>
              <li><a href="/pt-BR/docs/user/languages/python/">Python</a></li>
              <li><a href="/pt-BR/docs/user/languages/ruby/">Ruby</a></li>
              <li><a href="/pt-BR/docs/user/languages/scala/">Scala</a></li>
            </ul>

            <h2>Guia para Desenvolvedores</h2>
            <ul>
              <li><a href="http://api.travis-ci.org">A API</a></li>
            </ul>

            <h2>Recursos e Ferramentas de Terceiros</h2>
            <ul>
              <li><a href="/pt-BR/docs/user/browser-extensions/">Extensões para navegadores</a></li>
              <li><a href="/pt-BR/docs/user/resources/">Links & Recursos</a></li>
            </ul>

            <h2>Contato</h2>
            <ul>
              <li><a href="http://twitter.com/travisci">Twitter</a></li>
              <li><a href="irc://chat.freenode.net/%23travis">IRC</a></li>
              <li><a href="http://groups.google.com/group/travis-ci">Lista de email</a></li>
              <li><a href="http://github.com/travis-ci">GitHub</a></li>
              <li><a href="http://blog.travis-ci.com/blog.xml">Feed do Blog</a></li>
            </ul>

            <h2>Contribuindo</h2>
            <p>Este site de documentação é open source. Sinta-se livre para <a href="https://github.com/travis-ci/travis-ci.github.com/issues">reportar problemas</a>.
              O README em nosso <a href="https://github.com/travis-ci/travis-ci.github.com">repositório Git</a> explica como contribuir.</p>
            <h2>Jurídico</h2>
            <ul>
              <li><a href="/imprint.html">Marca</a></li>
            </ul>
          </div><!-- /#sidebar -->
        </div><!-- /.pad -->
      </div><!-- /.wrapper -->
    </div><!-- /#content -->

    <footer>
      <div class="wrapper">
        <div class="large-6 columns left">
          <div id="travis-logo">
            <img src="/images/travis-mascot-200px.png" id="travis-mascot">
          </div>
          <div id="travis-address">
            <p>&copy; 2014 Travis CI GmbH,<br> Prinzessinnenstr. 20, 10969 Berlin, Germany</p>
          </div>
        </div>

        <div class="large-6 columns right">
          <div id="footer-nav">
            <ul class="left">
              <li><a href="mailto:contact@travis-ci.com">Email</a></li>
              <li><a href="http://chat.travis-ci.com">Live Chat</a></li>
              <li><a href="/docs/">Docs</a></li>
              <li><a href="http://status.travis-ci.com">Status</a></li>
            </ul>
          </div>
          <div id="berlin-sticker">
            <img src="/images/made-in-berlin-badge.png" id="made-in-berlin">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
